@CHARSET "ISO-8859-1";

body {
	padding-top: 70px;
	background-color: #265931;
}

.tags{
  color: gray;
}

.greenhr{
	border-color: green;
	
}
.half{
	width: 50%;
	align: left;
	margin-left: 0;
}

.yellowwell{
	background-color: #f9f9b1;
}

.bywho{
	font-size: 16px;
}